<nav class="relative w-[50vw] left-[25vw] justify-between text-[#333333] md:text-[#BDB8B8]">
    <button class="text-[14pt] md:text-[12pt] transition duration-75 hover:bg-[#ED4048] hover:text-[#E7E7E7]" onclick="window.location.href='./';">
        <img src="../icons/home.svg" class="md:hidden relative h-[14pt] top-[4pt] right-[5pt] float-left md:h-[15pt]">
        HOME
    </button>
    <button class="text-[14pt] md:text-[12pt] transition duration-75 hover:bg-[#ED4048] hover:text-[#E7E7E7]" onclick="window.location.href='./media';">
        <img src="../icons/media.svg" class="md:hidden relative h-[14pt] top-[4pt] right-[5pt] float-left md:h-[15pt]">
        MEDIA
    </button>
    <button class="text-[14pt] md:text-[12pt] transition duration-75 hover:bg-[#ED4048] hover:text-[#E7E7E7]" onclick="window.location.href='./resources';">
        <img src="../icons/resources.svg" class="md:hidden relative h-[14pt] top-[4pt] right-[5pt] float-left md:h-[15pt]">
        RESOURCES
    </button>
    <button class="text-[14pt] md:text-[12pt] transition duration-75 hover:bg-[#ED4048] hover:text-[#E7E7E7]" onclick="window.location.href='./calendar';">
        <img src="../icons/calendar.svg" class="md:hidden relative h-[14pt] top-[4pt] right-[5pt] float-left md:h-[15pt]">
        CALENDAR
    </button>
    <button class="md:hidden relative w-[66%] m-[10pt] ml-[11.5%] mr-[12.5%] p-[5pt] bg-[#EC1F28] text-[14pt] drop-shadow-lg/25 transition duration-75 hover:drop-shadow-xl/25 hover:mt-[7.5pt] hover:mb-[12.5pt]" onclick="window.location.href='https://act.dsausa.org/donate/membership/';">
        JOIN DSA
    </button>
</nav>